.login-widget {
  left: 10px;
  top: -100px;
  width: 100%;
  position: fixed;
  padding: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.3s ease-out;
}

.login-widget.open {
  top: 20px;
}

.login-widget.logging-in {
  left: -100%;
}

.login-widget [class^="icon-"] {
  color: #BBB3B3;
  margin-right: 10px;
}

.login-widget .credentials {
  margin-left: 10px;
}

.login-widget .credentials i {
  font-size: 18px;
  clear: left;
  float: left;
  width: 25px;
  margin: 25px 0 15px 5px;
}

.login-widget button:hover {
  box-shadow: 1px 1px 1px 1px #ddd;
}

.login-widget button {
  cursor: pointer;
  outline: none;
  background: transparent;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  float: left;
  margin: 15px 0 20px 45px;
}

.login-widget .reset {
  color: orange;
}

.login-widget form {
  width: 100%;
  margin-left: 0;
  border: none;
}

.login-widget .login span {
  margin-left: 7px;
}

.login-widget .credentials input {
  outline-width: 0;
  border-radius: 2px;
  margin: 15px 0 15px 15px;
  float: left;
  height: 45px;
  font-size: 15px;
  padding: 0 10px 0 10px;
  border: solid 1px #ddd;
  width: calc(100% - 100px);
}

.login-widget button {
  width: calc(100% - 80px);
  clear: both;
  margin-left: 45px;
}

.login-widget .credentials {
  margin-left: 0px;
}

@media all and (min-width: 600px) {
  .login-widget {
    margin-top: 100px;
    margin-left: calc(50% - 300px);
    width: 600px;
  }
}

@media all and (max-width: 500px) {
  .login-widget button {
    width: calc(100% - 45px);
    clear: both;
    margin-left: 10px;
  }
}
