.status-widget {
  position: fixed;
  text-align: center;
  top: 0;
  padding: 10px;
  left: 0;
  height: 30px;
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 9999999;
  font-size: 20px;
  transition: all
  -webkit-transition: all 0.5s ease-out;
  -moz-transition:    all 0.5s ease-out;
  -o-transition:      all 0.5s ease-out;
  transition:         all 0.5s ease-out;
  top: -100px;
}

.status-widget.success {
  top: 0;
  background: rgb(149, 197, 149);
}

.status-widget.error {
  top: 0;
  background: rgb(219, 146, 152);
}

body[data-standalone] .status-widget {
  padding: 17px 0 5px 5px;
}
