.search-widget {
  position: fixed;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  z-index: 2;
}

.search-widget input {
  outline-width: 0;
  height: 45px;
  font-size: 15px;
  border: none;
  width: 100%;
  padding: 0 15px 0 15px;
  position: fixed;
  top: -100px;
  border-radius: 0;
  z-index: 111;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.3s ease-out;
}

.search-widget input[type="search" i]::-webkit-search-results-decoration {
  margin: 14px 8px 0 0;
}

.search-widget .search {
  background-color: rgba(170, 170, 170, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  color: white;
  cursor: pointer;
}

.search-widget .icon-search {
  display: block;
  margin: 10px;
}

.search-widget input.show {
  top: 0;
}

body[data-standalone] .search-widget .search {
  top: 25px;
}

body[data-standalone] input.show {
  top: 25px;
}
