.profile-widget {
  position: fixed;
  right: 0;
  top: 0;
  width: 90px;
  z-index: 1;
  height: 45px;
}

.profile-widget .profile, .profile-widget .picture {
  background-color: rgba(170, 170, 170, 1);
  text-decoration: none;
  height: 45px;
  width: 45px;
}

.profile-widget .profile {
  display: none;
}

.profile-widget .profile[href^="http"] {
  display: block;
}

.profile-widget .logout {
  background-color: rgba(170, 170, 170, 1);
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  height: 45px;
  width: 45px;
  font-size: 16px;
  color: white;
}

body[data-standalone] .profile-widget .logout {
  top: 25px;
}
