.detail-widget {
  background-color: rgb(139, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
  /* disable text selection: */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.detail-widget .back {
  cursor: pointer;
}

.detail-widget pre {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.detail-widget .spinner-widget i {
  top: 159px;
  left: 137px;
}

.detail-widget .video iframe {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

.detail-widget ul {
  margin: 0;
  padding: 15px 0 15px 15px;
  list-style: none;
}

.detail-widget a {
  text-decoration: none;
  color: white;
}

.detail-widget li {
  padding: 15px 5px 0 5px;
}
